.container{
	background-color: grey;
	margin: 0 auto;
	text-align: center;
	font-size: 0;
	margin-bottom: 30px;
}

#gridSquare{
	width: 16px; height: 16px;
	background-color: black;
	display: inline-block;
	vertical-align: top;

}

