body{
	background-color: grey;
}

.wrapper{
	width: 700px;
	margin: auto;
}

#slider{
	width: 700px; height: 400px;
	overflow: hidden;
	margin: 30px auto;
	border: black 3px solid;
	border-radius: 10px;
}

#slider > img{
	width: 700px; height: 400px;
	float: left;
	display: none;
	border-radius: 10px;
}

a{
	padding: 5px 10px;
	background-color: #f0f0f0;
	margin-top: 30px;
	text-decoration: none;
	color: #666;
}

a.left{float: left;}
a.right{float: right;}

a.right, a.left{
	border: black 3px solid;
	border-radius: 10px;
	width: 70px;
	text-align: center;
	box-shadow: 5px 5px black;
}

